// ### Primary

// - Soft blue: hsl(215, 51%, 70%)
// - Cyan: hsl(178, 100%, 50%)

// ### Neutral

// - Very dark blue (main BG): hsl(217, 54%, 11%)
// - Very dark blue (card BG): hsl(216, 50%, 16%)
// - Very dark blue (line): hsl(215, 32%, 27%)
// - White: hsl(0, 0%, 100%)

:root{
    --main-color:hsl(215, 51%, 70%) ;
    --sub-color:hsl(178, 100%, 50%) ;

    --darkBlue1-color:hsl(217, 54%, 11%) ;
    --darkBlue2-color:hsl(216, 50%, 16%) ;
    --darkBlue3-color:hsl(215, 32%, 27%) ;
    --white-color:hsl(0, 0%, 100%) ;
    --main-font :'Outfit', sans-serif;
}

.hh-color{
    color: var(--sub-color);
}

main{

    /* Mobile screen */
@media only screen and (max-width: 375px) {
    /* CSS rules for mobile screens */
  }
  
  /* Desktop screen */
  @media only screen and (min-width: 1440px) {
    /* CSS rules for desktop screens */
  }
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--darkBlue1-color);

    .card{
        width: 300px;
        background-color: var(--darkBlue2-color);
        box-shadow: 1px 1px 5px 0.5px #000 ;
        padding: 1.5rem;
        border-radius: 12px;
        font-family: var(--main-font);

        .cover{
            position: relative;
            border-radius: 10px;
            overflow: hidden;

            .image-cover{
                display: block;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .icon, .bg{
                cursor: pointer;
                display: none;
            }
            .icon{
                // width: ;
                position: absolute;
                z-index: 2;
                top: 40%;
                left: 40%;
                transition: 0.3s ease-out !important;

            }
            .bg{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                transition: 0.3s ease-out !important;


                &::before{
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: var(--sub-color);
                    opacity: 0.5;
                }

            }

            &:hover{
                .icon, .bg{
                    display: block;
                }
            }
        }
        h5{
            font-weight: 700;
            font-size: 1.5rem;
            color: var(--white-color);
            transition: 0.2s ease-out;

            &:hover{
                color: var(--sub-color);
            }
            
        }
        p{
            color: var(--main-color);
        }
        .showTime{
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                display: flex;
                gap: 8px;
                align-items: center;

                img{
                    width: 12px;
                }
            }
            p{
                display: flex;
                gap: 8px;
                align-items: center;
                
                img{}
            }

        }

        hr{
            border: none;
  border-top: 0.5px solid var(--darkBlue3-color);
        }
        .profile{
            display: flex;
            gap: 10px;
            align-items: center;

            img{
                display: inline-flex;
                max-width: 40px;
                max-height: 40px;
                border: 1.5px solid var(--white-color);
                border-radius:50% ;
            }
            p{
                span{
                    color: var(--white-color);
                    &:hover{
                        color: var(--sub-color);
                    }
                }
            }
        }


    }
}












  footer { font-size: 11px; text-align: center; 
    a { color: hsl(228, 45%, 44%); }
} 